extends layout
append head
  link(rel="stylesheet" href="/stylesheets/game-info.css")
  if authenticated
    script(src="/javascripts/gameshelf-button.js")

block content
  include game-card.pug
  include reviews-card.pug
<<<<<<< HEAD

  
=======
>>>>>>> 51a1c9d9542d758658eb39ca8f6e64369be717b1
