div(class="game-info-container")
  div(class="game-info-div-1")
    h2(class='game-info-header') #{game.name}
    span(class='developer') By #{game.developer}
    span(class='releaseDate') Release Date: #{game.releaseDate}
    p(class='game-info-description') #{game.description}
    img(class='gameImage-info' src= game.imgURL)
