extends layout

append head 
  link(rel="stylesheet" href="/stylesheets/games.css")

block content
  div(class="shelf-list-container") Gameshelves
    ul(class="shelf-list")
      each shelf in shelves
        a(href=`/gameshelves/${shelf.id}`): li(class="shelf-link")= shelf.name
  div(class="gameshelf-games-container")  
    ul(class="gameshelf-games")  
      each game in allUserGames
        include game-small-card.pug
