extends layout

block content
    each game in games
        div(class="games-container")
            div(class="game-div-1")
                h2(class='game-header') #{game.name}
                p(class='game-info') #{game.description}
                img(class='gameImage' src= game.imgURL) 
                button(class='add-to-game-shelf')
