doctype html
html
  head
      block head
        title="Goodgames"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/index.css")
  body
    div.nav-container
      div.content-container
        a(href="/"): div.logo-container
        div.search-container
          form(action="" method="post" class="search-form")
            input(type="search" name="search" placeholder="Search games" class="search-bar")
            button.search-icon
        div.nav-link-container
          if authenticated
            a(href="/gameshelves" class="nav-link") Gameshelves
          a(href="/games" class="nav-link") Games
        div.user-container
          if authenticated
            div(class="user-link" id="welcome-message") Welcome, #{user.firstName}
            h1(class="user-link divider") |
            form(action="/logout" method="post")
              button(class="user-link logout") Log Out
          else
            a(href="/login" class="user-link") Login
            h1(class="user-link divider") |
            a(href="/signup" class="user-link") Register

    div.body-content
      block content
