extends layout

block content
    form(action="/games/:id/review" method="post")
      div(class='container-review-div')
          h1(class='game-title-header-route')
          div(class='game-title-developer-div')
              h2(class='game-title')
              span(class='developer')
              img(class='game-img-review')
          div(class='rating')
    div(class='form-conatiner-div')
      h1(class='form-welcome-text') Give us your review.
      textarea(class= 'text-review-box' name="review" value=review.content)