div(class="review-list")
  each review in reviews
    p(class="content") review:#{review.content} review:#{review.rating} username:#{user.username}



//- Create a box for the container
      Inside the container, create another div that will be a colum
        inside the row div, create another div that will be a row containing the review content and rating
