div(class="review-container")
  div(class="header")
    h2(class="Comments-") Comments
  div(class="")



//- Create a box for the container
      Inside the container, create another div that will be a colum
        inside the row div, create another div that will be a row containing the review content and rating
