@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.body-content {
  position: relative;
  top: 30px;
}

.game-info-container{
  width: 800px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  background-color: #f3f3f3;
  font-family: 'Merriweather', serif;
  border-radius: 5px;
}

.img-div {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.gameImage-info {
  width: 100%;
}

.game-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
}

.game-header {
  display: flex;
}

.game-info-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
