@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.body-content {
  position: relative;
  top: 30px;
  display: flex;
}

.game-info-container{
  width: 700px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  background-color: #f3f3f3;
  font-family: 'Merriweather', serif;
  border-radius: 5px;
}

.img-div {
  width: 200px;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameImage-info {
  width: 100%;
}

.game-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
}

.game-info-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  color: black;
}

.releaseDate,
.developer {
  color: rgb(92, 92, 92)
}

.shelf-link {
  list-style-type: none;
}

.shelf-link:hover {
  text-decoration: underline;
}

.shelf-list {
  display: inline;
}

.shelf-list-container {
  display: inline-block;
}

.gameshelf-games-container {
  margin: center;
}

.gameshelf-games {
  display: inline-block;
}
