@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.body-content {
  position: relative;
  top: 30px;
}

.game-info-container{
  width: 800px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  background-color: #f3f3f3;
  font-family: 'Merriweather', serif;
  border-radius: 5px;
  position: relative;
}

.img-div {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.gameImage-info {
  width: 100%;
}

.game-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
}

.header-and-status {
  display: flex;
  justify-content: space-between;
}

.game-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.played-status {
  display: flex;
  justify-content: flex-end;
}

.played-status-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.played-status-list > li {
  list-style-type: none;
  background: lightgreen;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 3px;
  width:fit-content;
}

.game-info-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.played-status {
  width: 200px;
}

.success-message {
  width: fit-content;
  padding: 8px 10px;
  position: absolute;
  left: 350px;
  bottom: -30px;
  border-radius: 15px;
  opacity: 1;
  list-style-type: none;
  background-color: rgba(255, 166, 0, 0.637);
}

/* .review-list {
   color: black;
   background-color: red;
 }

 .content {
   color: blue;
 } */
