.game-title-header-route{
  color: black;
  display: flex;
  align-items: center;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-img-review{
  max-width: 300px;
  max-height: 300px;
}